<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{% url 'FoodAllergy:regist' %}" method="post">
{% csrf_token %}
    <input type="text" name="allergyName" id="allergyName"></input>
    <input type="text" name="highLevelAllergy" id="highLevelAllergy"></input>

<input type="submit" value="알러지등록">
</form>

{% if allergy_list %}
    <ul>
        {% for allergy in allergy_list %}
            {% if allergy.level == 1 %}
                <li><a href="{% url 'FoodAllergy:showLv2' allergy.allergyName %}">{{ allergy.allergyName }}</a></li><br>
            {% endif %}
        {% endfor %}
    </ul>
{% elif allergy_list2 %}
    <ul>
        {% for allergy in allergy_list2 %}
            {% if allergy.level == 1 %}
                <li><a href="{% url 'FoodAllergy:showLv2' allergy.allergyName %}">{{ allergy.allergyName }}</a></li><br>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <p>알러지가 없습니다.</p>
{% endif %}
    <br><br>


<form action="{% url 'FoodAllergy:addMyAllergy' %}" method="post">
{% csrf_token %}
{% if allergyName %}
    <ul>
        {% if count == 0 %}
            {% for allergy in allergy_list %}
                {% if allergy.highLevelAllergy == allergyName.allergyName %}
                    <label><input type="checkbox" name="checkAllergy[]" value={{allergy.allergyName}} > {{ allergy.allergyName }} </label>
                    <br>
                {% endif %}
            {% endfor %}
        {% else %}
            <label><input type="checkbox" name="checkAllergy[]" value={{allergyName.allergyName}} > {{ allergyName.allergyName }} </label>
            <br>
        {% endif %}


        <input type="submit" value="알러지 추가">
    </ul>
{% else %}
    <p>알러지가 없습니다.</p>
{% endif %}

{% if check %}
    {% for allergy in check %}
        {{ allergy }} <br>
    {% endfor %}
{% endif %}
</form>

------------------------------------------<br>
    *내 알러지*<br><br>
{% if allergy_list %}
    <ul>
        {% for allergy in allergy_list %}
            {% if allergy.level == 1 and allergy.myAllergy == "Y" %}
                <li><a href="{% url 'FoodAllergy:myShowLv2' allergy.allergyName %}">{{ allergy.allergyName }}</a></li><br>
            {% endif %}
        {% endfor %}
    </ul>
{% elif allergy_list2 %}
    <ul>
        {% for allergy in allergy_list2 %}
            {% if allergy.level == 1 and allergy.myAllergy == "Y" %}
                <li><a href="{% url 'FoodAllergy:myShowLv2' allergy.allergyName %}">{{ allergy.allergyName }}</a></li><br>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <p>알러지가 없습니다.</p>
{% endif %}

<form action="{% url 'FoodAllergy:deleteMyAllergy' %}" method="post">
{% csrf_token %}
{% if allergyName2 %}
    <ul>
        {% if count2 == 0 %}
            {% for allergy in allergy_list2 %}
                {% if allergy.highLevelAllergy == allergyName2.allergyName and allergy.myAllergy == "Y" %}
                    <label><input type="checkbox" name="checkAllergy[]" value={{allergy.allergyName}} > {{ allergy.allergyName }} </label>
                    <br>
                {% endif %}
            {% endfor %}
        {% else %}
            <label><input type="checkbox" name="checkAllergy[]" value={{allergyName.allergyName}} > {{ allergyName2.allergyName }} </label>
            <br>
        {% endif %}


        <input type="submit" value="알러지 삭제">
    </ul>
{% else %}
    <p>알러지가 없습니다.</p>
{% endif %}
</form>
</body>
</html>