<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">

<div class="container">
    <button onClick="location.href='{% url 'FoodAllergy:register' %}'">등록하기</button>
    <button>도움말</button>
    <br>

    <div class="row">

        <div class="col-sm-5">
            <br><br>
            <div>
                <img src="{% static 'images/test07.jpg' %}" height="500">
            </div>
            <button>사진찍기</button>
            <button>사진 불러오기</button><br>
        </div>

        <div class="col-sm-2">
            <form>
                <input type="button" value="변환하기" onClick="location.href='{% url 'FoodAllergy:chImage' %}'">
            </form>
        </div>


        <div class="col-sm-5">
            <form action="{% url 'FoodAllergy:resultSave' %}" class="form-inline" style="width:70%" method="post">
                {% csrf_token %}
                <input class="form-control" type="text" name="f_productName" id="f_productName">
                <textarea cols="65" rows="15" name="f_productContent" id="f_productContent"> {{text}}</textarea>

                <br>
                결과 :
                <textarea cols="65" rows="5" name="f_exist" id="f_exist">
                    {% for exist in exist_allergy %}
                        {{exist}}
                    {% endfor %}
                </textarea>
                포함되어 있습니다

                <br>

                <input type="submit" value="저장">
                <input type="button" value="불러오기" onClick="location.href='{% url 'FoodAllergy:resultLoad' %}'">
            </form>
        </div>
    </div>



    <!--{% if messages %}-->
    <!--<ul class="messages">-->
    <!--    {% for message in messages %}-->
    <!--    <li {% if message.tags %} class="{{ message.tags }}"{% endif %} >{{ message }}</li>-->
    <!--    {% endfor %}-->
    <!--</ul>-->
    <!--{% endif %}-->

</div>
</body>
</html>